<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".MyApp" 
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        
        <service
            android:name=".push.MyFirebaseMessagingService"
           android:exported="false">
            <intent-filter>
               <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".UI.Login.LoginActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>

        </activity>

        <activity android:name=".Admin.AdminActivity" />
        <activity android:name=".UI.Login.ForgotPasswordActivity" />
        <activity android:name=".UI.Login.RegisterActivity" />
        <activity android:name=".UI.support.SupportActivity" />
        <activity android:name=".UI.profile.ProfileActivity" />
        <activity android:name=".UI.Home.HomeActivity" />
        <activity android:name=".UI.product.ProductListActivity" />
        <activity android:name=".UI.Cart.CartActivity" />
        <activity android:name=".UI.product.ProductDetailActivity" />
        <activity android:name=".UI.profile.EditProfileActivity" />
        <activity android:name=".UI.Cart.BillActivity" />
        <activity android:name=".UI.Cart.QRActivity" />
        <activity android:name=".UI.profile.OrderHistoryActivity"/>
        <activity android:name=".Admin.ChatWithCustomerActivity"/>
        <activity android:name=".Admin.AdminChatActivity"/>
        <activity android:name=".UI.product.OrderDetailActivity"/>
        <activity android:name=".Admin.AddEditProductActivity"/>
        <activity android:name=".Admin.ManageProductsActivity"/>
        \






    </application>

</manifest>